<div class="row"><h4>Contas | Nova Conta</h4> </div>
<div class="row">
  <table class="table">
    <tr>
      <th>Banco</th>
      <th>Conta</th>
      <th>Saldo</th>
      <th>#</th>
    </tr>
    <tr>
      <td>Caixa</td>
      <td>2080/003/12000-2</td>
      <td>10.200,20</td>
      <td>
        <i class="glyphicon glyphicon-ok"> </i>
        <i class="glyphicon glyphicon-remove"> </i>
        <i class="glyphicon glyphicon-eye-open"> </i>
      </td>
    </tr>
    <tr>
      <td>BB</td>
      <td>123-x/1230-3</td>
      <td>17.340,20</td>
      <td>
        <i class="glyphicon glyphicon-ok"> </i>
        <i class="glyphicon glyphicon-remove"> </i>
        <i class="glyphicon glyphicon-eye-open"> </i>
      </td>
    </tr>
    <tr>
      <td>Santander</td>
      <td>2012/133400-2</td>
      <td>14.200,20</td>
      <td>
        <i class="glyphicon glyphicon-ok"> </i>
        <i class="glyphicon glyphicon-remove"> </i>
        <i class="glyphicon glyphicon-eye-open"> </i>
      </td>
    </tr>
  </table>
</div>
