<h4>Lista de Depositos</h4>
<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <label for="mes">Mês Referência</label>
      <select id="mes" ng-change="onPesquisar()"
              ng-selected="mes"
              ng-model="mes"
              ng-options="mes as mes.nome for mes in meses"
              class="form-control">
      </select>
        <label for="ano">Ano</label>
        <select id="ano" ng-model="ano" class="form-control" ng-change="onPesquisar()">
            <option value="2016">2016</option>
            <option value="2017">2017</option>
        </select>
        <label for="status">Status</label>
        <select id="status" class="form-control" ng-model="status" ng-change="onPesquisar()">
            <option value="PENDENTE_HOMOLOGACAO">Pendente</option>
            <option value="HOMOLOGADO">Homologado</option>
            <option value="NAO_HOMOLOGADO">Não Homologado</option>
            <option value="RASCUNHO">Rascunho</option>
        </select>
      <button ng-click="onPesquisar()" class="btn btn-primary">Pesquisar</button>
      <a href="#/deposito" class="btn btn-warning">Registrar Deposito</a>

    </form>
  </div>

</div>
<div class="row" ng-show="depositos.itens.length > 0">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
      <tr class="info">
        <th width="30%">Descrição</th>
        <th width="10%">Data</th>
        <th width="15%">Conta</th>
        <th width="15%">Obra</th>
        <th width="15%">Valor Total</th>
        <th class="text-center">#</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="deposito in depositos.itens">
          <td>{{deposito.descricao}}</td>
          <td>{{deposito.dataOperacao | date:'dd/MM/yyyy'}}</td>
          <td class="text-right">{{deposito.contaCorrente.apelido}}</td>
          <td class="text-right">{{deposito.obra.apelido}}</td>
          <td class="text-right">{{deposito.valor | currency}}</td>
          <td class="text-center">
            <a data-toggle="modal" data-target="#modalDetalhe" ng-click="onDetalheDeposito(deposito)" class="btn btn-sm btn-primary">Detalhe</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
<div ng-show="depositos.itens.length < 1" class="row">
  <div class="alert alert-info">
    <h3>Nenhuma deposito encontrado para esta referência de mês/ano.</h3>
  </div>
</div>

<div class="modal fade" id="modalDetalhe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalhe de Deposito</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 text-right">Descrição: </div>
          <div class="col-md-9">{{deposito.descricao}}</div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">Data: </div>
          <div class="col-md-9">{{deposito.dataOperacao | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">Conta: </div>
          <div class="col-md-9">{{deposito.origem.banco.sigla}} - {{aplicacao.origem.apelido}}</div>
        </div>
          <div class="row">
              <div class="col-md-3 text-right">Obra: </div>
              <div class="col-md-9">{{deposito.obra.apelido}}</div>
          </div>
        <div class="row">
          <div class="col-md-3 text-right">Valor: </div>
          <div class="col-md-9">{{deposito.valor | currency}}</div>
        </div>
        <div class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button ng-show="deposito.status == 'PENDENTE_HOMOLOGACAO'" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onHomologar(deposito)">Homologar</button>
      </div>
    </div>
  </div>
</div>
