<h4>Registro Aplicação</h4>
<div class="row">
  <div class="col-md-4">
    <div class="radio">
      <label>
        <input type="radio" name="tipo" value="1">
        Aplicação
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="tipo" value="1">
        Resgate
      </label>
    </div>
  </div>
  <div class="col-md-4">
    Opções para registro de numero de cheque ou conta de deposito
  </div>

</div>
<div class="row">
  <div class="form-group">
    <label for="conta" >Conta Resgate</label>
    <select id="conta" class="form-control">
      <option>Selecione...</option>
      <option>Caixa</option>
      <option>BB</option>
      <option>Santander</option>
    </select>
  </div>

  <div class="form-group">
    <label for="valor">Valor</label>
    <input type="text" id="valor" class="form-control text-right">
  </div>
  <div class="form-group">
    <label for="conta" >Conta Aplicação</label>
    <select id="conta" class="form-control">
      <option>Selecione...</option>
      <option>Caixa</option>
      <option>BB</option>
      <option>Santander</option>
    </select>
  </div>

  <div class="form-group">
    <label for="valor">Valor</label>
    <input type="text" id="valor" class="form-control text-right">
  </div>

  <div class="text-right">
    <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
    <button class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
  </div>
</div>
