<div class="row">
  <div><strong>Tipo</strong></div>
  <div class="radio">
    <label>
      <input type="radio" name="rbtipo"> Entrada
    </label>

  </div>
  <div class="radio">
    <label>
      <input type="radio" name="rbtipo"> Saida
    </label>

  </div>
  <div class="form-group">
    <label for="conta" >Conta</label>
    <select id="conta" class="form-control">
      <option>Selecione...</option>
      <option>Caixa</option>
      <option>BB</option>
      <option>Santander</option>
    </select>
  </div>
  <div class="form-group">
    <label for="obra" >Obra</label>
    <select id="obra" class="form-control">
      <option>Selecione...</option>
      <option>Obra 01</option>
      <option>Obra 02</option>
      <option>Obra 03</option>
      <option>Obra 04</option>

    </select>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <label for="despesa">Despesas</label>
      <select id="despesa" class="form-control">
        <option>Selecione</option>
        <option>Despesas 01</option>
        <option>Despesas 02</option>
        <option>Despesas 03</option>
        <option>Despesas 04</option>
        <option>Despesas 05</option>
      </select>

    </div>
    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="text" id="valor" class="form-control text-right">
    </div>
    <button class="btn btn-success">Registrar</button>
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Despesa</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="text-right">
    <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
    <button class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
  </div>
</div>
