<h3>Contas vs Obras</h3>
<table class="table">
  <tr>
    <th>Conta/Obra</th>
    <th>Escritorio</th>
    <th>Obra 01</th>
    <th>Obra 02</th>
    <th>Obra 03</th>
    <th>Obra 04</th>
    <th>Obra 05</th>
    <th>Obra 06</th>
    <th>Totais</th>
  </tr>
  <tr>
    <td>Conta 01</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
  </tr>
  <tr>
    <td>Conta 02</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
  </tr>
  <tr>
    <td>Conta 03</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
    <td class="text-right"> 0,00</td>
  </tr>
  <tr>
    <th>Totais</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
    <th class="text-right"> 0,00</th>
  </tr>
</table>
<h3>Detalhado</h3>
<table class="table">
  <tr>
    <td>#</td>
    <td>Obras</td>
    <td>Escritório</td>
    <td>Obra 01</td>
    <td>Obra 02</td>
    <td>Obra 03</td>
    <td>Obra 04</td>
    <td>Obra 05</td>
    <td>Obra 06</td>
    <td>Totais</td>
  </tr>
  <tr>
    <td>01</td>
    <td>Geral</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>01.1</td>
    <td>Receita Geral</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Recebido Obras</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Recebido Veículos</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Rec Obras Extras</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Rendimentos Financeiros</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>TOTAL RECEITAS</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>TOTAL RECEITAS</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>#</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>02</td>
    <td>Obras</td>
    <td>Escritório</td>
    <td>Obra 01</td>
    <td>Obra 02</td>
    <td>Obra 03</td>
    <td>Obra 04</td>
    <td>Obra 05</td>
    <td>Obra 06</td>
    <td>Totais</td>
  </tr>
  <tr>
    <td>02.2</td>
    <td>DESPESAS MÃO DE OBRA</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td>Admin. Direto</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
  </tr>
  <tr>
    <td></td>
    <td>Empreiteros</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
    <td class="text-right">0,00</td>
  </tr>


  <tr>
    <td></td>
    <td>TOTAIS</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
