<div class="row">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="inicio">Data de Início</label>
      <input id="inicio" name="inicio" class="form-control" ng-model="dataInicio"  ui-mask="99/99/9999" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/"
    </div>
    <div class="form-group">
      <label class="sr-only" for="fim">Data de Fim</label>
      <input id="fim" name="fim" class="form-control" ng-model="dataFim" ui-mask="99/99/9999" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/">
    </div>
    <button ng-click="gerar()" type="button" class="btn btn-primary">Gerar</button>
  </form>
</div>
<br />
<div class="row">
  <table ng-show="balanco" class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th ng-repeat="o in balanco.item.obras">{{o.apelido}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="p in balanco.item.planos">
        <th>{{p.codigo}}</th>
        <th>{{p.descricao}}</th>
        <td ng-repeat="o in balanco.item.obras"><span ng-show="p.tipoPlanoConta != 'GERAL'">{{balanco.item.valores[$parent.$index][$index] | currency}}</span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <th ng-class="{ 'bg-info' : balanco.item.totais[$index] == 0, 'bg-success' : balanco.item.totais[$index] > 0, 'bg-danger' : balanco.item.totais[$index] < 0 }" ng-repeat="o in balanco.item.obras">{{balanco.item.totais[$index] | currency}}</th>
      </tr>
    </tfoot>
  </table>
</div>
