<h4>Registro de Transferência/Aplicação</h4>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="tipo">
        Tipo
      </label>
      <select id="tipo" class="form-control" ng-model="tipo" ng-change="escolhaTipo()">
        <option value="">Selecione...</option>
        <option value="1">Aplicação</option>
        <option value="2">Transferência</option>
        <option value="3">Resgate</option>
      </select>
    </div>

  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="dataOperacao">Data Operação</label>
        <input type="text" id="dataOperacao" name="dataOperacao" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="dataOperacao" is-open="popupDataInicio.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openPopupDataInicio()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="text" id="valor" ng-model="aplicacao.valor" class="form-control" ui-number-mask="2" >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="contaOrigem">{{labelContaOrigem}}</label>
      <select id="contaOrigem" class="form-control" name="contaOrigem" required
              ng-model="contaOrigemSelecionada"
              ng-options="conta as conta.apelido for conta in contasOrigem">
        <option value="">Selecione...</option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="contaDestino" >{{labelContaDestino}}</label>
      <select id="contaDestino" class="form-control" name="contaDestino" required
              ng-model="contaDestinoSelecionada"
              ng-options="conta as conta.apelido for conta in contasDestino">
        <option value="">Selecione...</option>
      </select>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input id="descricao" name="descricao" ng-model="aplicacao.descricao" class="form-control" size="50">
    </div>
  </div>

    <div class="col-md-4" ng-show="tipo == 3">
        <label for="valorImposto">Valor de Tributo</label>
        <input id="valorImposto" ng-model="valorTributoResgate" class="form-control" ui-number-mask="2"/>
    </div>
</div>

<div class="row">
  <div class="text-right">
    <button class="btn btn-primary" ng-click="onSalvar()"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
    <a href="/#/main" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
  </div>
</div>
