<h4>Registro pagamento</h4>
<growl-notifications ng-if="showNotification" ttl="500" class="fading">{{notificacao}}</growl-notifications>
<form name="formPagamento" novalidate>
<div class="row">
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.formaPagamento.$invalid }">
      <label for="formaPagamento">Forma Pagamento</label>
      <select id="formaPagamento" class="form-control" name="formaPagamento" required tabindex="1"
              ng-model="formaPagamentoSelecionada"
              ng-options="forma as forma.nome for forma in formasPagamento">
        <option value="">Selecione...</option>
      </select>
    </div>

  </div>
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.conta.$invalid }">
      <label for="conta" >Conta</label>
      <select id="conta" class="form-control" name="conta" required tabindex="2"
              ng-model="contaSelecionada"
              ng-options="conta as conta.apelido for conta in contas">
        <option value="">Selecione...</option>
      </select>
    </div>

  </div>

  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.dataMovimento.$invalid }">

      <label for="dataMovimento">Data</label>
      <input tabindex="3" ng-model="dataMovimento" id="dataMovimento" name="dataMovimento" required ui-mask="99/99/9999" ng-pattern="/^[0-9]{1,7}[-\./]?+$/" class="form-control">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="valorTotal">Valor Total: </label>
      <input type="text" class="form-control " disabled="true" id="valorTotal" ui-number-mask="2" placeholder="Total" ng-model="valorTotal" value="{{valorTotal | currency}}">
    </div>
  </div>
  <div class="col-md-8">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.conta.$invalid }">
      <label for="descricao">Descricao</label>
      <input tabindex id="descricao" name="descricao" ng-model="descricao" placeholder="Descrição" required class="form-control" size="50"/>
    </div>

  </div>
</div>
<div class="row">
  <h3>Itens</h3>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.obra.$invalid }">
      <label for="obra" >Obra</label>
      <select id="obra" class="form-control" name="obra" required
              ng-model="obraSelecionada"
              ng-options="obra as obra.apelido for obra in obras">
        <option value="">Selecione...</option>

      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.despesa.$invalid }">
      <label for="despesa">Plano de Contas</label>

      <input class="form-control" ng-model="planoDigitado" size="5">
      <select id="despesa" class="form-control" name="despesa" required
              ng-model="planoContaSelecionado"
              ng-options="plano.planoConta as plano.descricao for plano in planosContas | filter : planoDigitado">
        <option value="">Selecione</option>

      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" ng-class="{ 'has-error': formPagamento.fornecedor.$invalid }">
      <label for="fornecedor">Fornecedor</label>
      <input class="form-control" ng-model="fornecedorDigitado">
      <select id="fornecedor" class="form-control" name="fornecedor" required
              ng-model="fornecedorSelecionado"
              ng-options="fornecedor.fornecedor as fornecedor.descricao for fornecedor in fornecedores | filter : fornecedorDigitado">
        <option value="">Selecione</option>

      </select>

    </div>
  </div>

    <div class="col-md-8">
      <div class="form-group" ng-class="{ 'has-error': formPagamento.historico.$invalid }">
        <label for="historico">Historico</label>
        <input type="text" id="historico" name="historico" required class="form-control" ng-model="historico" size="250">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group" ng-class="{ 'has-error': formPagamento.valor.$invalid }">
        <label for="valor">Valor</label>
        <input type="text" id="valor" name="valor" required class="form-control text-right" ng-model="valor" ui-number-mask="2">
      </div>

    </div>

</div>
  <div class="row text-right">

    <button class="btn btn-success" ng-click="onRegistraItem()" ng-class="{ 'disabled': formPagamento.$invalid }"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
    <a href="/#/main/" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
  </div>
  <div class="row">
    <table class="table">
      <tr>
        <th>Fornecedor</th>
        <th>Obra</th>
        <th>Plano Conta</th>
        <th>Histórico</th>
        <th class="text-right">Valor</th>
        <th>#</th>
      </tr>
      <tr ng-repeat="item in itensPagamento">
        <td>{{item.fornecedor.nome}}</td>
        <td>{{item.obra.apelido}}</td>
        <td >{{item.planoConta.descricao}}</td>
        <td >{{item.historico}}</td>
        <td class="text-right">{{item.valor | currency}}</td>
        <td class="text-right"><button class="btn btn-warning" ng-click="onDeleteItem(item)"><i class="glyphicon glyphicon-remove"></i></button></td>
      </tr>
    </table>
  </div>
  <div class="text-right">
    <button class="btn btn-success" ng-click="onSalvar()" disabled id="btnSalvar"><i class="glyphicon glyphicon-ok"></i> Salvar Pagamento</button>
  </div>
</div>
</form>
