<h4>Registro pagamento</h4>
<form name="formPagamento" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.formaPagamento.$invalid }">
                <label for="formaPagamento">Forma Pagamento</label>
                <select id="formaPagamento" class="form-control" name="formaPagamento" required tabindex="1"
                        ng-model="pagamento.detalhePagamento.formaPagamento"
                        ng-options="forma as forma.nome for forma in formasPagamento">
                    <option value="">Selecione...</option>
                </select>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.conta.$invalid }">
                <label for="conta" >Conta</label>
                <select id="conta" class="form-control" name="conta" required tabindex="2"
                        ng-model="contaSelecionada"
                        ng-options="conta as conta.apelido for conta in contas">
                    <option value="">Selecione...</option>
                </select>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.dataMovimento.$invalid }">

                <label for="dataMovimento">Data</label>
                <!--<input tabindex="3" ng-model="pagamento.dataOperacao" id="dataMovimento" name="dataMovimento" required class="form-control" ui-mask="99/99/9999" ng-value="pagamento.dataOperacao | date : 'dd/MM/yyyy'" >-->
                <div class="input-group">
                    <input type="text" id="dataMovimento" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="pagamento.dataOperacao" is-open="popupData.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openPopupData()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="valorEsperado">Valor Esperado: </label>
                <input type="text" class="form-control "  id="valorEsperado" ui-number-mask="2" placeholder="Total Esperado" ng-model="pagamento.valorEsperado" >
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="valorTotal">Valor Total: </label>
                <input type="text" class="form-control " disabled="true" id="valorTotal" ui-number-mask="2" placeholder="Total" ng-model="pagamento.valor" ng-value="pagamento.valor | currency">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="valorTotal">Diferença: </label>
                <span class="form-control "  id="valorTotal">{{diferencaValor | currency}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.conta.$invalid }">
                <label for="descricao">Descricao</label>
                <input tabindex id="descricao" name="descricao" ng-model="pagamento.descricao" placeholder="Descrição" required class="form-control" size="50"/>
            </div>

        </div>
    </div>
    <div class="row">
        <h3>Itens</h3>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.obra.$invalid }">
                <label for="obra" >Obra</label>
                <select id="obra" class="form-control" name="obra" required
                        ng-model="obraSelecionada"
                        ng-options="obra as obra.apelido for obra in obras">
                    <option value="">Selecione...</option>

                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.despesa.$invalid }">
                <div class="col-md-12">
                    <label for="despesa">Plano de Contas</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="planoDigitado" size="5" >
                </div>
                <div class="col-md-8">
                    <select id="despesa" class="form-control" name="despesa" required
                            ng-model="planoContaSelecionado"
                            ng-options="plano.planoConta as plano.descricao group by plano.grupo for plano in planosContas | filter : planoDigitado">
                        <option value="">Selecione</option>

                    </select>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.fornecedor.$invalid }">
                <div class="col-md-12">
                    <label for="fornecedor">Fornecedor</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control" ng-model="fornecedorDigitado">
                </div>
                <div class="col-md-8">
                    <select id="fornecedor" class="form-control" name="fornecedor" required
                            ng-model="fornecedorSelecionado"
                            ng-options="fornecedor.fornecedor as fornecedor.descricao for fornecedor in fornecedores | filter : fornecedorDigitado">
                        <option value="">Selecione</option>

                    </select>
                </div>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.historico.$invalid }">
                <label for="historico">Historico</label>
                <input type="text" id="historico" name="historico" required class="form-control" ng-model="itemPagamento.historico" size="250">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{ 'has-error': formPagamento.valor.$invalid }">
                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor" required class="form-control text-right" ng-model="itemPagamento.valor" ui-number-mask="2">
            </div>

        </div>

    </div>

    <div class="row text-right">
        <button class="btn btn-primary" ng-click="onRegistraItem()" ng-class="{ 'disabled': formPagamento.$invalid }"><i class="glyphicon glyphicon-plus"></i> Add Item</button>
        <a href="/#/main/" class="btn btn-warning"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
    </div>
    <div class="row">
        <table class="table">
            <tr class="info">
                <th>Fornecedor</th>
                <th>Obra</th>
                <th>Plano Conta</th>
                <th>Histórico</th>
                <th class="text-right">Valor</th>
                <th>#</th>
            </tr>
            <tr ng-repeat="item in itensPagamento">
                <td>{{item.fornecedor.nome}}</td>
                <td>{{item.obra.apelido}}</td>
                <td >{{item.planoConta.descricao}}</td>
                <td >{{item.historico}}</td>
                <td class="text-right">{{item.valor | currency}}</td>
                <td class="text-right"><button class="btn btn-warning" ng-click="onDeleteItem(item)"><i class="glyphicon glyphicon-remove"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="text-right">
        <button class="btn btn-primary" ng-click="onSalvar()"  id="btnSalvar"><i class="glyphicon glyphicon-ok"></i> Salvar Pagamento</button>
    </div>
    </div>
</form>
