<div class="row">
  <form class="col-xs-8 col-md-6">
    <div class="form-group">
      <label for="novaSenha">Nova senha</label>
      <input ng-model="novaSenha" type="password" class="form-control" id="novaSenha" />
    </div>
    <div class="form-group">
      <label for="repetirSenha">Repetir senha</label>
      <input ng-model="repetirSenha" type="password" class="form-control" id="repetirSenha"  />
    </div>
    <button ng-click="salvar()" type="button" class="btn btn-primary">Salvar</button>
  </form>
</div>
