<div class="header">
  <h3>Login de Acesso</h3>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" class="form-control" placeholder="Digite seu Email">
    </div>
    <div class="form-group">
      <label id="senha">Senha</label>
      <input id="senha" type="password" class="form-control">
    </div>
    <div>
      <a href="#/main" class="btn btn-primary">Login</a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
