<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">Saldo Atual: <span class="valor_positivo">R$ 127.367,10</span></div>
</div>
<div class="row">
  <h4>Últimos movimentos | <a href="#/movimento">Registar Movimento</a></h4>
  <table class="table table-condensed">
    <tr>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th class="text-center">Homologação</th>
      <th>#</th>
    </tr>
    <tr>
      <td>Entrada</td>
      <td>Rendimento de aplicação</td>
      <td class="text-right">35.000,00</td>
      <td class="text-center">--</td>
      <td><i class="glyphicon glyphicon-eye-open"></i></td>
    </tr>
    <tr>
      <td>Entrada</td>
      <td>Deposito de Cliente</td>
      <td class="text-right">5.000,00</td>
      <td class="text-center">10/10/2001</td>
      <td><i class="glyphicon glyphicon-eye-open"></i></td>
    </tr>
    <tr>
      <td>Saida</td>
      <td>Pagamento de obra</td>
      <td class="text-right">3.700,00</td>
      <td class="text-center">11/10/2001</td>
      <td><i class="glyphicon glyphicon-eye-open"></i></td>
    </tr>

  </table>

  <h4>Movimentos a homologar </h4>
  <table class="table table-condensed">
    <tr>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th class="text-center">Homologar</th>
    </tr>
    <tr>
      <td>Entrada</td>
      <td>Deposito de cliente</td>
      <td class="text-right">15.000,00</td>
      <td class="text-center">
        <i class="glyphicon glyphicon-ok"> </i>
        <i class="glyphicon glyphicon-remove"> </i>
        <i class="glyphicon glyphicon-eye-open"> </i>
      </td>
    </tr>
  </table>

</div>
