<div class="row">
  <div class="col-md-8">
    <a href="#/pagamento" class="btn btn-sm btn-warning">Registrar Pagamento</a>
    <a href="#/aplicacao" class="btn btn-sm btn-primary">Registrar Transferência/Aplicação</a>
      <a href="#/deposito" class="btn btn-sm btn-primary">Registrar Crédito</a>
  </div>

</div>
<div class="row">
    <div class="col-md-6"><h4>Movimentos: {{status}}</h4></div>
    <div class="col-md-6 form-inline text-right">
        <label for="status">Status</label>
        <select id="status" class="form-control" ng-model="status" ng-change="onPesquisaPorStatus()">
            <option value="PENDENTE_HOMOLOGACAO">Pendente</option>
            <option value="HOMOLOGADO">Homologado</option>
            <option value="NAO_HOMOLOGADO">Não Homologado</option>
            <option value="RASCUNHO">Rascunho</option>
        </select>
        <button ng-click="onPesquisaPorStatus()" class="btn btn-primary"><i class=" glyphicon glyphicon-search"></i></button>
    </div>
</div>
<div class="row">

  <table class="table table-striped table-hover">
    <tr class="info">
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th class="text-center">Data</th>
      <th class="text-center">Detalhar</th>
    </tr>
    <tr ng-repeat="movimento in movimentos">
      <td>{{movimento.tipoMovimento}}</td>
      <td>{{movimento.descricao}}</td>
      <td class="text-right">{{movimento.valor | currency}}</td>
      <td class="text-center">{{movimento.dataOperacao | date:'dd/MM/yyyy'}}</td>
      <td class="text-center">
        <a href="javascript:" data-toggle="modal" data-target="#modalHomologa" ng-click="onDetalheMovimento(movimento.id,2)">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
      </td>
    </tr>

  </table>

</div>
<div class="row text-right">
    <button class="btn btn-sm btn-primary" ng-click="onPaginar('-1')">Anterior</button>
    <button class="btn btn-sm btn-primary" ng-click="onPaginar('+1')">Próximo</button>
</div>

<!-- Modal Homologar-->
<div class="modal fade" id="modalHomologa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Homologação de Movimento</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 text-right">Descrição: </div>
          <div class="col-md-9">{{detalheMovimento.descricao}}</div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">Data: </div>
          <div class="col-md-9">{{detalheMovimento.dataOperacao | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">Conta: </div>
          <div class="col-md-9">{{detalheMovimento.contaCorrente.banco.sigla}} - {{detalheMovimento.contaCorrente.apelido}}</div>
        </div>
        <div class="row">
          <div class="col-md-3 text-right">Valor: </div>
          <div class="col-md-9">{{detalheMovimento.valor | currency}}</div>
        </div>
        <div class="row">
          <table class="table">
            <tr class="info">
              <th>Historico</th>
              <th>Fornecedor</th>
              <th>Obra</th>
              <th>Valor</th>
            </tr>
            <tr ng-repeat="item in itens">
              <td>{{item.historico}}</td>
              <td>{{item.fornecedor.nome}}</td>
              <td>{{item.obra.apelido}}</td>
              <td>{{item.valor | currency}}</td>
            </tr>
          </table>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button ng-show="detalheMovimento.status == 'PENDENTE_HOMOLOGACAO'" type="button" id="btnHomologar" class="btn btn-primary" ng-click="onMudarStatus(detalheMovimento,'HOMOLOGADO')">Homologar</button>
      </div>
    </div>
  </div>
</div>


